<div class="container Qpage">

<h1>Your questions</h1>


  <div class="form-box-full-width">
    <%= @question.question %>

    <% @question.answers.each do |ans| %>
      <%= link_to ans.answer, user_answers_path(picked_answer_id: ans.id), method: :post, class: "btn btn-primary" %>
    <% end %>

  </div>


    <div class="button-signup">
      <%= link_to "Find me a Match", new_match_path %>
    </div>

</div>
