<div class="Qpage">

  <div class="form-box-full-width">
  <h3 class="title-border">Personality Calculator</h3>

    <div class="question-box">
   <h4> <%= @question.question %> </h4>
    </div>

    <% @question.answers.each do |ans| %>
      <div class="answer-box">
         <div class="btn btn-questions"> <%= link_to ans.answer, user_answers_path(picked_answer_id: ans.id), method: :post %>
          </div>
      </div>
    <% end %>

  </div>



 </div>
</div>
