<div class="Qpage">

  <div class="form-box-full-width">
  <h3 class="title-border">Personality Calculator</h3>

    <div class="question-box">
   <h4> <%= @question.question %> </h4>
    </div>

     <div class="answer-box">
        <% @question.answers.each do |ans| %>
         <%= link_to user_answers_path(picked_answer_id: ans.id), method: :post do %>
            <div class="btn btn-questions">
              <%= ans.answer %>
            </div>
          <% end %>
      <% end %>
     </div>

  </div>



<!--  -->
 </div>
</div>


 </div>
</div>
