<div class="profile-show">
  <div class="profile-header">
    <div class="avatar-medium avatar-drop-on-line" style="background-image: url(<%= @profile.photo.url ? @profile.photo.url : 'http://dl1.cbsistatic.com/i/2017/10/19/925f2651-018c-4d76-baf2-3ce4de2ecdb4/a9d0a0ebc85b66e01318f74b0be11da8/imgingest-7427792717055670780.png';  %> );" >

    </div>

  </div>

  <div class="profile-body">

  </div>
</div>
