// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$brand-gradient: linear-gradient(135deg, rgba(255,97,163,1) 0%, rgba(150,72,242,1) 70%, rgba(90,82,242,1) 100%);
$brand-pink: #FF2681;
$brand-blue: #4901FF;
