
.Calcpage {
  display: flex;
  background-color: #FF2681;
  color: whitesmoke;
  height: 100vh;

  h1 {

    text-align: center;
  }
}

.Calcbox {
  margin-top: 70px;
}

.calctophalf {
 height: 45%;
 width: 100vw;
}

.calcbttmhalf {
  height: 55%;
  width:100vw;
}

.imagee-sizee {
    max-height: 200px;
    margin-top: 30px;
    margin-left: 20px;
}

// jss
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1, p, h2, h3, h4, ul, li, div {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  font-family: Roboto;
}

.loading-page {

  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loading-page .counter {
  text-align: center;
}
.loading-page .counter h2 {
  font-size: 40px;
  font-weight: 100;
  color: whitesmoke;
}
.loading-page .counter h1 {
  color: whitesmoke;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter hr {
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}


//----------



.open {
  position: fixed;
  margin: auto;
  width: 150px;
  padding: 20px 20px 17px;
  color: #fff;
  right: 0;
  bottom: 0;
  font-family: arial,sans-serfi;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.curtain {

  position: absolute;
  height: 40%;
  width: 50%;
  -webkit-transition: all 3s ease-out 0s;
  -ms-transition: all 3s ease-out 0s;
  transition: all 3s ease-out 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.curtain.-left {
  left: 0px;
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -moz-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -o-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -webkit-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), linear-gradient(to left, #7630a1, #3f1958, #7630a1);
  background-size: 17% 17%, 14% 14%;
}
.curtain.-right {
  right: 0px;
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -moz-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -o-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), -webkit-linear-gradient(right, #7630a1, #3f1958, #7630a1);
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #662289, #7731a3, #662289), linear-gradient(to left, #7630a1, #3f1958, #7630a1);
  background-size: 17% 17%, 14% 14%;
}
.open-curtains .curtain.-left {
  left: -16%;
  width: 10%;
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}
.open-curtains .curtain.-right {
  right: -16%;
  width: 10%;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
















