.chat-header-mine {
    position: relative;
    margin-left: -80px;
    margin-right: -80px;
    height: 150px;
    background-image: $brand-gradient;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-top: 20px;
  }

