// Specific CSS for your home-page
.welc {
  filter: blur(0.4px);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
  }
}

.blogo {
  margin: auto;
  justify-self: center;
  align-self: center;
}


.welcbox {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 20px;
}

.but2 {
  margin-top: 10px;
}
