.profile-header {
  position: relative;
  margin-left: -80px;
  margin-right: -80px;
  height: 150px;
  background-image: $brand-gradient;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.profile-show {
  overflow: hidden;
}
.profile-body {
  height: 500px;
  position: relative;
  margin-top: 100px;
}

.profile-body h3 {
  text-align: center;
}
