.questions-page {
    background-color: #E069C3;
}

.subpage_title {
  text-align: center;
  margin-top: 20px;
}

.form-box-full-width {
  width: 80%;
  margin: auto;
  color: white;
}

 .questions-page h1 {
    color: white;
    font-family: montserrat;
    font-size: 24px;
    text-align: center;
    font-style: 400;
    padding: -20px;
    margin-top: 0;
  }

.questions-page .radio input {
    visibility: hidden;
    left: 500px;
}

.question-btn {
  visibility: hidden;
  left: 500px;
}
