

.Qpage {
  background-color: #FF2681;
  color: white;
  height: 100%;
  h3 {
    margin-top: 80px;
    text-align: center;
  }
  h4 {
  color: black;
  }

}

.Qpage .form-box-full-width {
  margin: auto;
  margin-bottom: 500px;
  display: flex;
  justify-content:center;
  flex-direction: column;

}

.title-border {
}

.question-box {
  text-align: center;
  background-color: white;
  font-color: black;
  width: 80%;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 15px;
}

.answer-box {
  text-align: center;
  height: 75px;

}

.btn-questions {
  background-color: white;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  height: 50px;
  width: 80%;
  border: none;
  color: black;
  margin: 10px;
  text-align: center;
}

.btn-questions {
  a {
    color: grey;
  }
}








