<h2>Hey, your first_name!</h2>

<h3>Your matches:</h3>

<% @matches.each do |m|  %>
  <%= m.users.where.not(id: current_user.id).first.email %>
  <%= m.last_message %>
<% end %>

<h3>Your questions:</h3>

<% @quesitons.each do |q|  %>
  <%= q.question %>
<% end %>
