<h2>Hey, your first_name!</h2>

<h3>Your matches:</h3>

<% @matches.each do |m|  %>
  <%= link_to match_path(m) do  %>
    <%= m.users.where.not(id: current_user.id).first.email %>
    <%= m.last_message %>
  <% end %>
<% end %>

<h3>Your questions:</h3>

<%= link_to "Änswer Questions", questions_path %>

