<div class="welc" style="background-image: url(<%= image_url 'bg2.png' %>)">

    <div class="blogo">
    <%= image_tag "logo3.png" %>
    </div>





   <div class="welcbox">
      <p>Date the person not the photo.</p>
      <button class="btn button-login"><%= link_to "Log in", new_user_session_path %></button>
     <div></div>
      <button class="btn but2 button-signup">
       <%= link_to "Sign up", new_user_registration_path %></button>
      <div class="but2">Forgot password?</div>
   </div>
</div>


   <!--
    tag line
    2 buttons
    forgot password?
  -->



