

<div class="home-page">


     <div class="welcome">

    <h2> Welcome to Blurrr</h2>
     </div>




     <div class="short-intro1">
        <h4> Put the Heart back into dating <i class="fa fa-heart"></i> </h4>
     </div>

    <div class="short-intro2">
           <p>
            You are about to embark on a journey almost forgotten, you are about to meet the people you've been looking for.
            </p>
    </div>



     <div class="get-started">

          <%= link_to 'Get started', new_user_registration_path, class: "btn btn-danger get-started" %>
</div>




