<div calss="container calcpage">
        <h1>
          Beep
        </h1>

        <h1>
          Boop
        </h1>

   <div><i class="fa fa-user-secret"> We are searching for your perfect match</i>
  </div>



    <div class="button-signup">

      <%= link_to "Your match", dashboard_path %>

    </div>

</div>

