
<div class="Calcpage">

    <div class="fakeaf">
      <h1>Calc...</h1>
      <h1>Calculating...</h1>
      <h1>Match Found!</h1>


        <div class="button-signup">
        <%= link_to "Your match", dashboard_path %>
        </div>
     </div>
</div>
