<div class="Calcpage">
    <div class="Calcbox">


        <div class="calctophalf" id="calculatingBar">
          <div class="loading-page">
            <div class="counter">
              <h2>Calculating</h2>
              <h1>0% </h1>
            <hr/>
            </div>
          </div>
        </div>





      <div class="calcbttmhalf" id="div11">

          <div class="curtain -left"></div>

             <span class="imagee-sizee"> <%= image_tag "Showman.png", class: "imagee-sizee" %> </span>

          <div class="curtain -right"></div>



          <h5 class="open">View your Match</h5>







      </div>









     </div>
</div>


<!--
    <% if @match %>
        <h1>Match Found!</h1>
        <div>
          <%= link_to "Your match", match_path(@match) %>
        </div>
      <% else %>
        <div>
         <%= link_to "Dashboard", dashboard_path %>
        </div>
      <% end %>

-->












