
<div class="chat-page">

  <div class="container">
     <div class="chat-header">
      <div class="image-chat-wrapper"></div>
        <img src= <%= @other_user_match.user.profile.photo %> alt="Users photo">

        <div> <%= @other_user_match.user.profile.username %> </div>
     </div>


     <div class="chat-bubbles">


         <div class="bubble-sender">
          send bobs and vagene
         </div>

         <div class="bubble-receiver">
          no
         </div>

     </div>


     <div class="chat-inputs">
      <!-- Form -->
        input
      </div>

  </div>
</div>
