
<div class="chat-page">

      <div class="chat-header">
        <p class="reciever-name"> <%= @other_user.profile.username %> </p>
        <div class="avatar-small avatar-above-line" style="background-image: url(<%= @other_user.profile.photo.url ? @other_user.profile.photo.url : 'http://dl1.cbsistatic.com/i/2017/10/19/925f2651-018c-4d76-baf2-3ce4de2ecdb4/a9d0a0ebc85b66e01318f74b0be11da8/imgingest-7427792717055670780.png';  %> );" >

        </div>

      </div>



     <div class="chat-bubbles">


         <div class="bubble-right">
            <div class="chat-bubble">
              <p>
                Hey there you dtf
              </p>
            </div>
         </div>

         <div class="bubble-left">
            <div class="chat-bubble">
              <p>
                 dtf
              </p>
            </div>
         </div>


     </div>





     <div class="chat-inputs">
      <!-- Form -->
      <div class="chatform">
        <input type="text" class="chat-input">

        <button class="brand-button-medium btn chat-send fa fa-paper-plane">  </button>
      </div>

      </div>
  </div>

