/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  drop-down: 100px;
}
.alert-info {
  background: #FF2681;
}
.alert-warning {
  background: #32B796;
}
