

.brand-button-medium {
  background-color: $brand-pink;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
}


.button-login {
  background-color: #FF2681;
  border-radius: 11px;
  width: 150px;

}

.button-signup {
  background-color: #4901FF;
  border-radius: 11px;
  width: 150px;
}
