.brand-button-medium {
  background-color: $brand-pink;
  transition: 0.5s;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

.brand-button-medium:hover {
  color: white;
}

.brand-button-medium:active {
  font-size: 43px;
}


.brand-button {
  background-color: $brand-pink !important;
  color: white;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 4px ;
  border: none;
}


.button-edit {
  background-color: #4901FF;
  border-radius: 11px;
  width: 200px;
  border: none;
  color:white;
  margin: 15px 0px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.button-signup {
  background-color: #4901FF;
  border-radius: 11px;
  width: 150px;
  border: none;
  color:white;
  margin: 15px 0px;
  padding: 10px;
  text-align: center;
}

.button-login {
  background-color: #FF2681;
  border-radius: 11px;
  width: 150px;
  border: none;
  color:white;
  margin: 15px 0px;
  padding: 10px;
    text-align: center;
}

.button-login:hover {
  background-color: $brand-blue;
  color: white;
}
.button-signup:hover {
  background-color: $brand-pink;
  color: white;
}

.button-login:active {
  background-color: $brand-blue;
  color: white;
  border-radius: 11px;
}





.form-actions {
  input {
  background-color: #4901FF;
  border-radius: 11px;
  width: 150px;
  }
}


.profbutts {
  display: flex;
  padding:10px;
  justify-content: space-around;
}














/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: white; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: white; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

.slider-category {
  font-weight: 800;
  font-size: 18px !important;
  margin-right: 8px;
  .slider-after, span {
    font-weight: 200;
  }
}

.slidecontainer {
    background-color: white;
    border-radius: 14px;
    margin: 25px 0px;
}

.sliders-container {
  span {
    font-size: 14px;
  }
}

