

.brand-button-medium {
  background-color: $brand-pink;
  color: white;
  padding: 20px;
  font-size: 30px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
}


.button-login {
  background-color: #FF2681;
  border-radius: 11px;
  width: 150px;
  border: none;
  color:white;
  margin: 15px 0px;
  padding: 10px;
}

.button-login:hover {
  background-color: $brand-blue;
  color: white;
}

.button-login:active {
  background-color: $brand-blue;
  color: white;
  border-radius: 11px;
}

.button-signup {
  background-color: #4901FF;
  border-radius: 11px;
  width: 150px;
}
