

.match-box {
  display: flex;
  margin-top: 20px;
}


.av-us {
  width: 25%;
  background-color: orange;

}


.lst-message {
  width: 75%;
  background-color: lightgrey;
}

.match-box {
  padding: 15px;
  .bubble-right {
  flex-grow: 1;
  }
}
