
.prof-new-form {
  background-image: $brand-gradient;
  padding: 100px 60px;
  color: white;
  .has-error, .help-block {
    color: white !important;
  }
  select {
    background-color: rgba(0,0,0,0)
  }
  input, select {
    color: white;
  }
  input:focus, select:focus {
    border-color: lightgrey !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px lightgrey !important;
  }
  h1 {
    color: whitesmoke;
  }
  .simple_form_for {
    color: white;
  }
  .btn-default {
  background-color: $green;
  color: white;
}
  input {
    background-color: transparent;
    font-size: 14px;
  }
  .form-control {
    border: none;
    border-bottom: 1px solid lightgrey;
    box-shadow: none;
  }
}

.prof-new-form select:required:invalid {
    color: grey;
}
.prof-new-form select {
    color: white;
}

.control-label {
  visibility: hidden;
}
