.registration-container {
  padding-top: 100px
}

 .registration h2 {
  color: white;
}
.registration .form-group input {
    background-color: transparent;
    font-size: 14px;
}
.registration .form-group input::placeholder {
  color: white;

}

.registration .form-group label {
  visibility: hidden;
}

.registration .form-control {
    border: none;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    box-shadow: none;
}

