.avatar-sharp-wrapper {
  position:absolute;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-sharp-wrapper-lg {
  left: calc(50% - 100px);
}

.avatar-sharp-wrapper-md {
  left: calc(50% - 75px);
}

.avatar-sharp-wrapper-sm {
  left: calc(50% - 60px);
}

.avatar-sharp-wrapper-xs {
  left: calc(50% - 30px);
}

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
}

.avatar-no-blur {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar-lg {
  width: 200px;
  height: 200px;
}

.avatar-md {
 height: 150px;
 width: 150px;
}

.avatar-sm {
  width: 120px;
  height: 120px;
}

.avatar-xs {
  width: 60px;
  height: 60px;
}



.avatar-extra-small-matches {
  filter: blur(5px);
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: calc(50% - 40px);
}

.avatar-wrapper-drop-on-line {
  position: absolute;
  bottom: -75px;
}

.avatar-wrapper-above-line {
  position: absolute;
  bottom: -40px;
}

.avatar-wrapper-under-line {
  bottom: -90px;
}

.avatar-wrapper-under-chat-above {
  bottom: 50px;
}

.avatar-wrapper-block {
  position: static;
}


