
.profile-box {
  padding: 15px;
  padding: 15px 35px;
}

.profile-row {
    position: relative;
    overflow: hidden;
    padding: 0 0 0 40px;
    margin-top: 25px;
    margin-bottom: 16px;
}

.profile-roww {
    position: relative;
    margin: 0 16px 0 0;
    padding: 0 0 0 0;
}

.profile-icon {
  background-size: cover;
  padding: 2px;
  margin: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-trait {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  padding: 4px 0 3px 0;
  color: #1e1e1e;
}

.stats-bar {
  height: 10px;
  border-radius: 8px;
  color: red!important;
}

.stats-bar-view {
  height: 10px;
  border-radius: 8px;
  background-color: #4901FF!important;
}


